body {
    width: 98vw;
    overflow: hidden;
    background: #fff;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-text-search {
    font-size: 2em;
    border: 2px solid #FF2B2B;
    font-style: oblique;
    border-radius: 20px;
    padding-left: 20px;
}

.input-btn-search {
    font-size: 1.5em;
    border: none;
    margin: 0;
    height: 43px;
    padding: 0 20px;
    margin-left: 20px;
    background: #FF2B2B;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
}

div.video-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: all 0.25s linear;
    position: relative;
}

div.video-card {
    width: 320px;
    min-height: 600px;
    margin: 20px;
    display: grid;
    grid-template-rows: 180px 100px 30px 30px 30px 230px;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #FF2B2B
}

div.video-card h1 {
    font-size: 1em;
}

div.video-card,
.dot-elem {
    user-select: none;
    -moz-user-select: none;
}

div.video-card h1 a {
    margin: 0;
    color: #fff;
    text-decoration: none;
}

.video-descr {
    width: 90%;
    font-size: 0.8em;
    margin: auto;
    text-align: left;
}

.dots-block {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.dot-elem {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border-radius: 50%;
    background: #FF2B2B;
    border: 1px solid #FF2B2B;
    cursor: pointer;
    color: #FF2B2B;
}

button {
    width: 35px;
    height: 35px;
    background: rgb(255, 43, 43);
    color: #fff;
    border: 1px solid #FF2B2B;
    border-radius: 50%;
    font-weight: bold;
}

/*animation loading*/

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite
}

.load :first-child {
    background: #ffffff;
    border: 1px solid #F63D3A;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #F63D3A;
    border: 1px solid #F63D3A;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #ffffff;
    border: 1px solid #F63D3A;
    animation-delay: -0.5s
}

.load :last-child {
    background: #F63D3A;
    border: 1px solid #F63D3A;
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}